body {
  background-image: url('https://media.giphy.com/media/rSTZI4659jiC2Cr6FH/giphy-downsized-large.gif');
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  opacity: 0.8;
}

h1, h2 {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

h2 {
  font-size: 2rem;
  color: #000;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #666;
}

#researchers {
  background-image: url('https://media.giphy.com/media/yQltwC4N8nzOE1WdDW/giphy-downsized-large.gif');
  background-size: cover;
}

#public {
  background-image: url('https://media.giphy.com/media/JMlIy2LIUY6j8vG4FW/giphy.gif');
  background-size: cover;
}

#network {
  background-image: url('https://media.giphy.com/media/Udc73xTDIWnhtvgpoC/giphy-downsized-large.gif');
  background-size: cover;
}
